:root {
  --background: #F4F5F9;
  --background-darker: #f5f5f5;
  --text: #868889;
  --black: #000814;
  --warning: #ef574b;
  --link: #04045e;
  --border: #ebebeb;
  --primary: #ffbe0b;
  --primary_dark: #ffb703;
  --primary_light: #ffd60a;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/assets/fonts/poppins.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
